@{
    ViewBag.Title = "Forgot Password";
}

<section id="ForgotPassword">
    <h2>Forgot Password</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Reset Password</legend>
            <ol>
                <li>
                    @Html.Label("Email")
                    @Html.TextBox("Email")
                   
                </li>

            </ol>
            <input type="submit" value="Reset" />
        </fieldset>
        
    }
</section>

